@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* GENERAL */
body, html{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(33, 33,33) 0%, rgb(0, 0, 0) 100%);
    font-family: 'Open Sans', sans-serif;
    color: #bbbbbb;
    scroll-behavior: smooth;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: auto;
    max-width: 1200px;
    color: #bbbbbb;
}
.header__left-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (min-width: 460px) {
    .header__left-column {
        padding-right: 5rem;
        justify-content: center;
        padding-right: 10rem;
    }
}

@media screen and (min-width: 600px) {
    .header__left-column {
        padding-right: 7rem;
    }
}

@media screen and (min-width: 1200px) {
    .header__left-column {
        position: initial;
        gap: 7rem;
        justify-content: start;
        padding-right: 10rem;
    }
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo__image {
    width: 25px;
    height: 30px;
}

.header__logo__text {
    margin-left: 0.5rem;
    font-size: 1.4rem;
    padding-top: 0.25rem;
    font-weight: 100%;
}

.header__right-column {
    display: flex;
    position: absolute;
    right: 2rem;
    top: 2rem;
    align-items: center;
    padding-top: 0.5rem;
    gap: 1rem;
}

.header__right-column i{
    color: #fff;
    font-size: 1.25rem;
}

.header__right-column i:hover {
    cursor: pointer;
}

/*  CART Icon */
.cart__icon {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.cart__count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #5120d2;
    color: white;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}
.cart__count:hover {
    background: #959595;
    cursor: pointer;
}

/* NAV */
.nav {
    display: flex;
    gap: 2rem;
    padding-top: .25rem;
}

.nav__link {
    color: #bbbbbb;
    font-weight: 400;
    text-decoration: none;
}

.nav__link:hover {
    color: rgba(127, 123, 123, 0.62);
}

/* Fade-In Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s forwards;
}

/* HERO Section */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 2rem;
    max-width: 1200px;
    margin: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.2s; /* may need to play with this*/
}

@media screen and (min-width: 1200px) {
    .hero {
        flex-direction: row-reverse;
    }
}

.hero__text {
    max-width: 800px;
    z-index: 1;
    text-align: center;
}

@media screen and (min-width: 600px){
    .hero__text {
        text-align: left;
    }
}

.hero__title {
    font-size: 2rem;
    font-weight: 400;
}

.hero__subtitle {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.hero__description {
    font-size: 1.25rem;
    margin: 3rem 0;
}

.hero__price {
    font-size: 1.75rem;
    font-weight: 100;
    margin-top: 1rem;
}

.hero__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .hero__buttons {
        justify-content: flex-start;
    }
}
